.THIS {
    /*background: red;*/
    /* height: 100%; */
    width: 100%;
    position: absolute;
    top: 0;
    bottom: -0.75rem;
}

.THIS .x-large {
    height: 100%;
}
.THIS .custom-box {
    background-color: whitesmoke;
    /*padding: 0.75rem;*/
    border: 1px solid #d8dde6;
    
    height: 100%;
}
.THIS .custom-box:nth-child(2) {
    border-left: none;
}
.THIS .custom-box:last-child,
.THIS .flexipageComponent,
.THIS [data-component-id="pdftronWebViewer"] {
    border-top-right-radius: 0.35rem;
}
.THIS .custom-box:first-child,
.THIS .flexipageComponent,
.THIS [data-component-id="wvFileBrowser"] {
    border-top-left-radius: 0.35rem;
}


@media only screen and (min-width:1600px) {

    .THIS .custom-box.slds-size_3-of-12 {
        width: 20%;
    }
    .THIS .custom-box.slds-size_9-of-12 {
        width: 80%;
    }
}

.THIS .flexipageComponent,
.THIS [data-component-id="wvFileBrowser"],
.THIS [data-component-id="pdftronWebViewer"],
.THIS [data-component-id="pdftronWebViewer"] .pdf_viewer,
.THIS .flexipageComponent .pdf_viewer,
.THIS .custom-box > div {
    height: 100%
}

.THIS .flexipageComponent,
.THIS [data-component-id="wvFileBrowser"] {
    flex-grow: 1;
    position: relative;
    z-index: 99;
    overflow-x: hidden;
    background: white;
}

.THIS .flexipageComponent .slds-card,
.THIS [data-component-id="wvFileBrowser"] .slds-card {
    background: none;
    border: none;
    /* border-radius: 0; */
    box-shadow: none;
    position: unset;
}